:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  height: 100%;
}

body{
  min-height: 100dvh;
  max-width: 100dvw;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

fieldset{
  border:none;
}

button{
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: darkgrey;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1.5em;
}

.answer-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.answer{
  border-radius: 5px;
}

.answer>label{
  display: block;
  border: solid 2px white;
  padding: 1rem 2rem;
  border-radius: 5px;
  overflow: hidden;
}

.answer:has(input:checked){
  border-radius: 5px;
  background-color: darkgrey;
  color: black;
}

.answer>input{
  display: none;
}

.correct{
  color: green;
  box-shadow:  0 0 2px 4px green;
}

.incorrect{
  color: red;
  box-shadow:  0 0 2px 4px red;
}